<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet"
          href="~/Content/CSS/layout.css" />

    <link rel="stylesheet"
          href="~/Content/CSS/sidebar.css" />

    <link rel="stylesheet"
          href="~/Content/CSS/navbar.css" />

    <link rel="stylesheet"
          href="~/Content/CSS/dashboard.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

    <div class="app-layout">

        @Html.Partial("_Sidebar")

        <div class="main-section">

            @Html.Partial("_Navbar")

            <main class="page-content">

                @RenderBody()

            </main>

        </div>

    </div>

    <script src="~/Scripts/sidebar.js"></script>

</body>

</html>