<nav class="top-navbar">

    <!-- Left -->

    <div class="nav-left">

        <button class="menu-toggle" id="menu-toggle">

            <i class="fa-solid fa-bars"></i>

        </button>

        <div class="page-title">

            <h2>@ViewBag.Title</h2>

            <span>
                Good Morning, Admin 👋
            </span>

        </div>

    </div>

    <!-- Center -->

    <div class="nav-center">

        <div class="search-box">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input type="text"
                   placeholder="Search products, suppliers..." />

        </div>

    </div>

    <!-- Right -->

    <div class="nav-right">

        <button class="nav-btn">

            <i class="fa-regular fa-bell"></i>

            <span class="badge-dot"></span>

        </button>

        <button class="nav-btn">

            <i class="fa-regular fa-moon"></i>

        </button>

        <div class="profile-card">

            <div class="profile-image">

                A

            </div>

            <div class="profile-info">

                <h4>Administrator</h4>

                <span>Inventory Manager</span>

            </div>

            <i class="fa-solid fa-chevron-down"></i>

        </div>

    </div>

</nav>